# Project exclude paths
/venv/
ursina_test/models/*.blend*
ursina_test/models_compressed/*.obj
ursina_test/textures/random
ursina_test/textures/*.jpg
ursina_test/textures/*.png
ursina_test/textures/*.gif
ursina_test/textures/*.mp4
ursina_test/cheer.json
ursina_test/cheer.json.bak
ursina_test/slack_bot_token.txt
